<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
	<!-- <link rel="icon" href="img/wdplogo.png" type="image/gif" sizes="16x16"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
  	<meta http-equiv="expires" content="Sat, 31 Oct 2014 00:00:00 GMT">
  	<meta http-equiv="pragma" content="no-cache">

  	<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
	<META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2002 11:12:01 GMT">

    <title>WritersBlock</title>


    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/creative.css?ver=1.1" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>

                <a class="navbar-brand page-scroll" href="#page-top"><img class="ibm-logo" src='#' alt="">WritersBlock</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                	<li>
                        <a class="page-scroll" href="#">Browse</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">Profile</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">Upload</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">WritersBlock</h1>
                <hr>
                {{#if success_msg}}
    	            <div class="alert alert-success">{{success_msg}}</div>
    	          {{/if}}

    	          {{#if error_msg}}
    	            <div class="alert alert-danger">{{error_msg}}</div>
    	          {{/if}}

    	          {{#if error}}
    	            <div class="alert alert-danger">{{error}}</div>
    	          {{/if}}
                <span class="headerwords"> <p>Join other users in reading and discovering your favorite books!</p></span>

                <button class="authbutton" onclick="window.open('#')"> <span> Login </span> </button>
                <button class="authbutton" onclick="window.open('#')"> <span> Sign Up </span> </button>
                <div>
                    <button class="authbutton" onclick="window.open('#')"> <span> Browse </span> </button>
                </div>

            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Discover New Writers!</h2>
                    <hr class="light">
                    <p class="text-faded">There are hundereds of writers out there that go unnoticed, but with WritersBlock, writers all around the world can post their stories with no middle man! </p>
                     <!-- <a href="gettingstarted" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a> -->
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Become a Writer</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa fa-medkit text-primary sr-icons"></i>
                        <h3>No Publisher Required</h3>
                        <p class="text-muted">Writers are able to post their works here and get paid for it!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa fa-trophy text-primary sr-icons"></i>
                        <h3>Free Books!</h3>
                        <p class="text-muted">If a writer chooses to, they can publish their work for free</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Your preferences</h3>
                        <p class="text-muted">Control the types of books you see, and discover new ones too!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Your Control</h3>
                        <p class="text-muted">Publish your own work, and own it</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>For More Info Click The Button Below!</h2>
                <a href="about" class="btn btn-default btn-xl sr-button">More Info</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Want to get in touch with us? Contact us for any questions you have!</p>
                    <i class="fa fa-slack fa-3x sr-contact"></i>
                    <p>EMAIL HERE</p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/creative.min.js"></script>

</body>

</html>
