doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    // <link rel="icon" href="img/wdplogo.png" type="image/gif" sizes="16x16">
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(http-equiv='cache-control', content='no-cache, must-revalidate, post-check=0, pre-check=0')
    meta(http-equiv='expires', content='Sat, 31 Oct 2014 00:00:00 GMT')
    meta(http-equiv='pragma', content='no-cache')
    meta(http-equiv='CACHE-CONTROL', content='NO-CACHE')
    meta(http-equiv='EXPIRES', content='Mon, 22 Jul 2002 11:12:01 GMT')
    title WritersBlock
    // Bootstrap Core CSS
    link(href='../vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom Fonts
    link(href='../vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    // Plugin CSS
    link(href='../vendor/magnific-popup/magnific-popup.css', rel='stylesheet')
    // Theme CSS
    link(href='../css/creative.css?ver=1.1', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body#page-top
    nav#mainNav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  Menu
            i.fa.fa-bars
          a.navbar-brand.page-scroll(href='/')
            | WritersBlock
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          if userID == false
            ul.nav.navbar-nav.navbar-right
              li
                a.page-scroll(href='#') Browse
              li
                a.page-scroll(href='#') About
              li
                a.page-scroll(href='#contact') Contact
              li
                a.page-scroll(href='/users/login') Login
              li
                a.page-scroll(href='/users/register') Sign Up
          else
            ul.nav.navbar-nav.navbar-right
              li
                a.page-scroll(href='/browse') Browse
              li
                a.page-scroll(href='#') About
              li
                a.page-scroll(href='#contact') Contact
              li
                a.page-scroll(href='/profile') Account
              li
                a.page-scroll(href='/users/logout') Logout
        // /.navbar-collapse
      // /.container-fluid
    section#signUp.bg-primary
      center
        if uploaded == true
          .alert.alert-success
            strong Success!
            |  Your book has been uploaded!

        #ratingInfo.row
          .col-sm-3
            .rating-block
              h4 Average user rating
              h2.bold.padding-bottom-7
                | 4.3 
                small / 5
          .col-sm-3
            h4 Rating breakdown
            .pull-left
              .pull-left(style='width:35px; line-height:1;')
                div(style='height:9px; margin:5px 0;')
                  | 5 
                  span.glyphicon.glyphicon-star
              .pull-left(style='width:180px;')
                .progress(style='height:9px; margin:8px 0;')
                  .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='5', aria-valuemin='0', aria-valuemax='5', style='width: 1000%')
                    span.sr-only 80% Complete (danger)
              .pull-right(style='margin-left:10px;') 1
            .pull-left
              .pull-left(style='width:35px; line-height:1;')
                div(style='height:9px; margin:5px 0;')
                  | 4 
                  span.glyphicon.glyphicon-star
              .pull-left(style='width:180px;')
                .progress(style='height:9px; margin:8px 0;')
                  .progress-bar.progress-bar-primary(role='progressbar', aria-valuenow='4', aria-valuemin='0', aria-valuemax='5', style='width: 80%')
                    span.sr-only 80% Complete (danger)
              .pull-right(style='margin-left:10px;') 1
            .pull-left
              .pull-left(style='width:35px; line-height:1;')
                div(style='height:9px; margin:5px 0;')
                  | 3 
                  span.glyphicon.glyphicon-star
              .pull-left(style='width:180px;')
                .progress(style='height:9px; margin:8px 0;')
                  .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='3', aria-valuemin='0', aria-valuemax='5', style='width: 60%')
                    span.sr-only 80% Complete (danger)
              .pull-right(style='margin-left:10px;') 0
            .pull-left
              .pull-left(style='width:35px; line-height:1;')
                div(style='height:9px; margin:5px 0;')
                  | 2 
                  span.glyphicon.glyphicon-star
              .pull-left(style='width:180px;')
                .progress(style='height:9px; margin:8px 0;')
                  .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='2', aria-valuemin='0', aria-valuemax='5', style='width: 40%')
                    span.sr-only 80% Complete (danger)
              .pull-right(style='margin-left:10px;') 0
            .pull-left
              .pull-left(style='width:35px; line-height:1;')
                div(style='height:9px; margin:5px 0;')
                  | 1 
                  span.glyphicon.glyphicon-star
              .pull-left(style='width:180px;')
                .progress(style='height:9px; margin:8px 0;')
                  .progress-bar.progress-bar-danger(role='progressbar', aria-valuenow='1', aria-valuemin='0', aria-valuemax='5', style='width: 20%')
                    span.sr-only 80% Complete (danger)
              .pull-right(style='margin-left:10px;') 0

    aside.bg-dark
      .container.text-center
        .call-to-action
          h2 For More Info Click The Button Below!
          a.btn.btn-default.btn-xl.sr-button(href='about') More Info
    section#contact
      .container
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading Let's Get In Touch!
            hr.primary
            p Want to get in touch with us? Contact us for any questions you have!
            i.fa.fa-slack.fa-3x.sr-contact
            p EMAIL HERE
    // jQuery
    script(src='../vendor/jquery/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='../vendor/bootstrap/js/bootstrap.min.js')
    // Plugin JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    script(src='../vendor/scrollreveal/scrollreveal.min.js')
    script(src='../vendor/magnific-popup/jquery.magnific-popup.min.js')
    // Theme JavaScript
    script(src='../js/creative.min.js')
